{% extends 'base.html' %}

{% block title %} Pedido #{{help_request.id}} - AyudaPy{% endblock %} 

{% block fb-title %} Pedido #{{help_request.id}} - {{ help_request.title}} {% endblock %} 
{% block fb-description %} {{help_request.message}} {% endblock %} 

{% load leaflet_tags %} 
{% load static %}
{% load l10n %}
{% load humanize %}
{% block bread %}
{% load i18n %}
  <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="/">
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <span>{% trans "Home" %}</span>
        </a>
      </li>
      <li><a href="/dar">{% trans "Information" %}</a></li>
      <li><a href="/pedidos">{% trans "Requests" %}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{% trans "Request" %} {{help_request.id}}</a></li>
      </ul>
  </nav>
{% endblock bread %}
{% block content%}
<div class="columns is-centered">
    <div class="column is-half">
      {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-half" id='msg{{ forloop.counter }}'>
                <button class="delete" onclick="document.getElementById('msg{{ forloop.counter }}').style.display = 'none';"></button>
                    <span class="is-5">{{ message }}</span>
                    <p><span class="icon is-medium"><i class="fas fa-hand-point-down"></i></span>
		    {% trans "Podés compartir tu pedido haciendo click en los botones" %}</p>
            {% include 'includes/share_buttons.html'%}
            </div>
        {% endfor %}
      {% endif %}
        <div class="subtitle center is-3">
      {% if help_request.resolved %}
        <a class="has-text-primary" href="/pedidos/{{help_request.id}}"><strike>{% trans "Request" %} #{{help_request.id}}</strike></a>
      {% else %}
        <a class="has-text-primary" href="/pedidos/{{help_request.id}}">{% trans "Request" %} #{{help_request.id}}</a>
      {% endif %}
        </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-four-fifths">
{% if not help_request.active %}
      <div class="notification is-danger is-half" >
        <span class="is-5"><p class="is-size-2">{% trans "Withdrawn request" %}</p>
          <p class="has-text-white-ter">{% trans "Withrawn or repeated request, only one request per phone number is allowed" %}</p>
        </span>
    </div>
    {% if active_requests %}
    <p class="is-size-4">{% trans "We found this request with the same phone number" %}:<li><a href="/pedidos/{{ active_requests.0.id }}">#{{ active_requests.0.id }}</a></li> </p>
    
        {% if user.is_authenticated %}
	  {% trans "Other requests under the same phone number" %}
          {% for act in active_requests %}
          <li><a href="/pedidos/{{ act.id }}">#{{ act.id }}</a></li>
          {% endfor %}
        {% endif%}

    {% endif %}
{% else %}
      {% if help_request.resolved %}
      <div class="notification is-success is-half" >
            <span class="is-5"><p class="is-size-2">{% trans "This request has already been solved" %}</p>
              <p class="has-text-white-ter"> {% trans "This request has been marked as resolved" %}</p>
            </span>
      </div>
      {% endif %}
        <div class="card">
      {% if not help_request.resolved %}
        <header class="card-header has-background-light is-light">
            <p class="card-header-title is-size-4">{{ help_request.title}}</p>
      {% else %}
      <header class="card-header has-background-light is-light">
            <p class="card-header-title is-size-4"><strike>{{ help_request.title}}</strike></p>
      {% endif %}
        </header>
        <section class="card-content">
                    <p class="has-text-right is-size-7" title="{{help_request.added|naturaltime}}">{{help_request.added}}</p>
                    <p class="is-size-5">{{help_request.message|linebreaksbr}}</p>
                    {% if help_request.picture %}
                    <hr>
                      <figure class="image is-small"> 
                        <a href="/media/{{help_request.picture}}">
                          <img class="has-ratio" src="{{thumbnail}}"/>
                        </a>
                      </figure>
                    {% endif %}
                    <hr>
                    <p class="subtitle">{% trans "Name" %}:</p>
                    <p class="title is-4">{{ help_request.name}}</p>
                {% if not help_request.resolved %}
                    <p class="subtitle">{% trans "Contact" %}:</p>
                    <p class="title is-4">
                      <a href="tel:{{help_request.phone}}">
                        <img src="data:image/jpeg;base64,{{phone_number_img}}">
                      </a>
                        &nbsp;
                        <a href="https://wa.me/{{ whatsapp }}" target="_blank" class="button is-medium is-success is-outlined">
                            <span class="icon is-small">
                              <i class="fab fa-whatsapp"></i>
                            </span>
			    <span>{% trans "Contact via WhatsApp" %}</span>
                        </a>
                    </p>
                    {% if help_request.address %}
                      <p class="subtitle">{% trans "Address" %}:</p>
                      <p class="title is-4">{{help_request.address}}</p>
                    {% endif %}
                    <p class="subtitle">{% trans "City" %}:</p>
                    <p class="title is-4">
                        <a href="/pedidos_ciudad/{{help_request.city_code}}">{{help_request.city}}</a>
                    </p>
                     <p class="subtitle">{% trans "Location" %}:
                     {% leaflet_map "main" callback="main_map_init" %}
                     </p>
                     <a href="https://www.google.com/maps/search/?api=1&query={{help_request.location.y|unlocalize}},{{help_request.location.x|unlocalize}}" target="_blank">
                       <button class="button is-medium is-fullwidth is-link is-light">
                            <span class="icon is-medium">
                            <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>{% trans "Open with Google Maps" %}</span>
                        </button>
                     </a>
                {% endif %}
{% endif %}
        </section>
                    {% include 'includes/vote_button.html' %}

    </div>

                {% comment %} <article class="tile is-child is-box">
                    <p class="title is-4">{{ help_request.title}}</p>
                    <p class="subtitle">{{help_request.message|linebreaks}}</p>
                    <hr>
                    <p class="subtitle">Nombre:</p>
                    <p class="title is-4">{{ help_request.name}}</p>
                    <p class="subtitle">Contacto:</p>
                    <p class="title is-4"><a href="tel:{{help_request.phone}}">{{help_request.phone}}</p></a>
                    {% if help_request.address %}
                      <p class="subtitle">Dirección:</p>
                      <p class="title is-4">{{help_request.address}}</p>
                    {% endif %}
                    {% if help_request.picture %}
                      <figure class="image is-small"> 
                        <a href="/media/{{help_request.picture}}">
                          <img class="has-ratio" src="{{thumbnail}}"/>
                        </a>
                      </figure>
                    {% endif %}
                     <p class="subtitle">Ubicación:
                     {% leaflet_map "main" callback="main_map_init" %}
                     </p>
                     <a href="https://www.google.com/maps/search/?api=1&query={{help_request.location.y|unlocalize}},{{help_request.location.x|unlocalize}}" target="_blank">
                       <button class="button is-medium is-fullwidth is-link is-light">
                            <span class="icon is-medium">
                            <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>Abrir en Google Maps</span>
                        </button>
                     </a>
                </article> {% endcomment %}
                <hr>
                <label class="label has-text-success">
                    <span class="icon is-medium"><i class="fas fa-hand-point-down"></i></span>
		        {% trans "You can share this request by clicking on these buttons" %}
                    </label>
                <div class="is-fullwidth">
                {% include 'includes/share_buttons.html'%}
                </div>
          

        

        <script type="text/javascript">
            function main_map_init(map, options) {
                // Use Leaflet API here
                {% autoescape off %}
                var lon = {{ help_request.location.x|unlocalize }};
                var lat = {{ help_request.location.y|unlocalize }};
                data = {{ help_request.location.geojson }}
                {% endautoescape %}
                    // zoom to point & add it to map
                map.setView([lat, lon], 14);
                //L.marker([lat, lon]).addTo(map);
                L.geoJson(data).addTo(map)
            }
        </script>
    </div>
</div>
{% endblock %}
