{% load i18n %}
{% load widget_tweaks %}
{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}
{% if form.non_field_errors %}
<div class="modal is-danger" role="alert">
    {% for error in form.non_field_errors %} {{ error }} {% endfor %}
</div>
{% endif %}
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="message is-danger">
    <div class="message-body">
        {{ error|escape }}
    </div>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="message is-danger">
    <div class="message-body">
        {{ error|escape }}
    </div>
</div>
{% endfor %}
{% endif %}
{% for field in form.visible_fields %}
<div class="field">
    {% if field.field.required %}
    <label class="label" for="{{ field.name }}">{{ field.label }}*</label>
    {%else%}
        {% if field.name != 'categories' %}
            <label class="label has-text-weight-normal" for="{{ field.name }}">{{ field.label }}</label>
        {% else %}
            <br>
            <label class="label" for="title">{% trans "Request category*" %}</label>
            <p class="help text-muted">{% trans "Chose the categories of your request (you can select more than one category)" %}</p>
            <br>

            <div class="columns is-centered is-mobile is-multiline">
                <div class="column is-3-desktop is-3-mobile ">
                    <p onclick="onIconClick('viveres')">
                        <i id="viveresIcon"
                           class="fas fa-utensils fa-2x {% if 'viveres' in selected_categories %} has-text-info {% endif %}">
                        </i>
                    </p>
                    <p onclick="onIconClick('viveres')" class="is-size-7">{% trans "Provisions" %}</p>
                    <input type="checkbox" value="viveres" onclick="onSwitchClick('viveres')" id="viveres" name="categories" class="switch is-info"
                            {% if 'viveres' in selected_categories %} checked {% endif %}>
                    <label for="viveres"></label>
                </div>

                <div class="column is-3-desktop is-3-mobile">
                    <p onclick="onIconClick('bebes')">
                        <i id="bebesIcon"
                           class="fas fa-child fa-2x {% if 'bebes' in selected_categories %} has-text-info {% endif %}">
                        </i>
                    </p>
                    <p onclick="onIconClick('bebes')" class="is-size-7">{% trans "Babies" %}</p>
                    <input id="bebes" value="bebes" onclick="onSwitchClick('bebes')" type="checkbox" name="categories" class="switch is-info"
                            {% if 'bebes' in selected_categories %} checked {% endif %}>
                    <label for="bebes"></label>
                </div>

                <div class="column is-3-desktop is-3-mobile">
                    <p onclick="onIconClick('medicamentos')">
                        <i id="medicamentosIcon"
                           class="fas fa-prescription-bottle-alt fa-2x {% if 'medicamentos' in selected_categories %} has-text-info {% endif %}">
                        </i>
                    </p>
                    <p onclick="onIconClick('medicamentos')" class="is-size-7">{% trans "Medicine" %}</p>
                    <input id="medicamentos" value="medicamentos" onclick="onSwitchClick('medicamentos')" type="checkbox" name="categories" class="switch is-info"
                            {% if 'medicamentos' in selected_categories %} checked {% endif %}>
                    <label for="medicamentos"></label>
                </div>

                <div class="column is-3-desktop is-3-mobile">
                    <p onclick="onIconClick('limpieza')">
                        <i id="limpiezaIcon"
                           class="fas fa-pump-soap fa-2x {% if 'limpieza' in selected_categories %} has-text-info {% endif %}">
                        </i>
                    </p>
                    <p onclick="onIconClick('limpieza')" class="is-size-7">{% trans "Cleaning" %}</p>
                    <input value="limpieza" id="limpieza" onclick="onSwitchClick('limpieza')" type="checkbox" name="categories" class="switch is-info"
                            {% if 'limpieza' in selected_categories %} checked {% endif %}>
                    <label for="limpieza"></label>
                </div>

            </div>


        {% endif %}
    {%endif%}
    {% if field.help_text|safe %}
    <p class="help text-muted">{{ field.help_text }}</p>
    {% endif %}

    {% if form.is_bound %}
    {% if field.errors %}
    <div class="control">
        {% render_field field class="input is-danger" %}
    </div>
    {% for error in field.errors %}
    <div class="help is-danger">
        {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {% render_field field class="input is-success" %}
    {% endif %}
    {% else %}
    {% if field.field.widget.input_type == "file" %}
    <p id="status"></p>
    <div class="file has-name is-boxed is-primary is-fullwidth ">
        <label class="file-label">
            {% render_field field class="file-input" %}
            <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label center">
                        {% trans "Upload a photo" %}
                    </span>
                    </span>
            <span class="file-name">

                    </span>
        </label>
    </div>
    {% else %}
    <div class="control">
        {{ field }}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endfor %}

<script type="text/javascript">

    function onSwitchClick(name) {
        toggleFormSelectedOption(name)
        changeIconClass(name)
    }

    function onIconClick(name){
        var element = document.getElementById(name);
        element.checked = !element.checked;
        toggleFormSelectedOption(name)
        changeIconClass(name);
    }

    function toggleFormSelectedOption(name){
        var option = document.querySelector('option[value="' + name + '"]')
        option.selected = !option.selected
    }

    function changeIconClass(name) {
        var element = document.getElementById(name);
        if (element.checked) {
            document.getElementById(name+'Icon').classList.add("has-text-info");
        } else {
            document.getElementById(name+'Icon').classList.remove("has-text-info");
        }
    }

</script>
