{% extends 'base.html' %}
{% block bread %}
  <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">
                <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>Inicio</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Acuerdo de voluntariado</a></li>
        </ul>
      </ul>
  </nav>
{% endblock bread %}
{% block content%}
<div class="tile is-ancestor center">
    <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child notification is-info">
            <p class="title">¿Quiénes somos?</p>
            <p class="has-text-justified"> AYUDAPY es una plataforma que ofrece ayuda a las personas más necesitadas del país, ofrece espacios a voluntarios que quieran ayudar, y ofrece lugares adecuados para que puedan acercar donaciones.</p> 
            <p class="has-text-justified"> AYUDAPY es una iniciativa de Marcelo Elizeche, quien con un grupo de voluntarios desarrolladores pusieron este espacio digital de manera experimental, resultando un gran éxito en cuanto a poder medir la real necesidad de las personas a raiz de la pandemia por el COVID-19.</p> 
            <p class="has-text-justified"> AYUDAPY actualmente está esta siendo apoyada por la Cruz Roja Paraguaya además de otras organizaciones, empresas y personas que de manera voluntaria dan vida a esta plataforma para que la ayuda llegue a quienes lo soliciten.</p> 
        </div>
        <div class="tile is-child notification is-warning box">
            <p class="title">Importante</p>
            <p class="has-text-justified">Antes de confirmar que querés ser Voluntario, por favor leé los términos de nuestro Acuerdo Básico Común donde se estipulan los derechos y las obligaciones a que se comprometen ambas partes.</p>
            
        </div>
        <div class="tile is-child is-warning box">
            <p class="title">Declaración del Voluntario</p>
            <p class="has-text-justified"> Lo que sigue es el ACUERDO COMÚN BÁSICO Y CONVENIO DE NO ENTABLAR ACCIÓN LEGAL DE MI PARTICIPACIÓN COMO VOLUNTARIO EN LA CAMPAÑA AYUDAPY.ORG y regula aspectos de tu relación con la iniciativa</p>
            <p class="has-text-justified">Me inscribo libre y voluntariamente a la plataforma digital de la <b>Campaña AyudaPy.org,</b> y por este medio declaro que libero de cualquier responsabilidad y acepto no entablar acción legal alguna en contra de las organizaciones de la sociedad civil que lideran la <b>Campaña AyudaPy.org</b>, como producto de mi voluntariado en la misma.</p>
            <p class="has-text-justified">Manifiesto que conozco que existen riesgos y peligros y estoy de acuerdo en asumirlos al participar como <b>VOLUNTARIO</b> en la <b>Campaña AyudaPy.org</b>. Participaré de la misma a partir de la fecha en que me asignen funciones, <b>hasta que libre y voluntariamente decida darme de baja como tal o la organización así lo disponga</b>.</p>
            <p class="has-text-justified"> Entiendo que este <b>ACUERDO BÁSICO COMÚN Y CONVENIO DE NO ENTABLAR ACCIÓN LEGAL</b>, cubre responsabilidad civil y o penal, administrativa y de cualquier otra índole, acciones legales y daños y perjuicios ocasionados por cualquier acto u omisión de la <b>Campaña AyudaPy.org</b>.</p>
            <p class="has-text-justified">Manifiesto que no poseo impedimentos de salud que limiten mi participación como <b>VOLUNTARIO</b> en la <b>Campaña AyudaPy.org</b>.</p>
            <p class="has-text-justified">Estoy de acuerdo en aceptar las <b>OBLIGACIONES, PERMISOS Y PROHIBICIONES</b>, que derivan de mi participación como <b>VOLUNTARIO</b>.</p>
            <p class="has-text-justified">Declaro que los datos asentados en el <b>FORMULARIO DE INSCRIPCIÓN DE VOLUNTARIOS</b>, son ciertos y cualquier omisión en los mismos, es única y exclusivamente mi responsabilidad.</p>
        </div>
        <div class="tile is-child ">
            <a href="/voluntario">
                <button class="button is-success is-large is-fullwidth is-size-5 has-text-weight-bold" name='submit'>
                    <span>He leído y acepto este acuerdo </span>
                    <span class="icon is-medium"><i class="fas fa-thumbs-up is-le"></i></span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
