django==4.2.18
Pillow==10.1.0
psycopg2-binary==2.9.9
django-leaflet==0.29.0
black
django-widget-tweaks==1.4.8
geopy==1.21.0
Unidecode==1.1.1
djangorestframework==3.14.0
django-filter==2.4.0
djangorestframework-gis==1.0
django-silk==4.0.1
ua-parser~=0.10
django-environ==0.4.5
django-simple-history==3.4.0
django-pipeline==2.1.0
git+https://github.com/dmpayton/django-admin-honeypot.git@develop