appdirs==1.4.3
attrs==19.3.0
black==19.10b0
click==7.1.1
Django==2.2.12
django-leaflet==0.26.0
django-widget-tweaks==1.4.8
geographiclib==1.50
geopy==1.21.0
pathspec==0.7.0
Pillow==7.0.0
pkg-resources==0.0.0
psycopg2-binary==2.8.4
pytz==2019.3
regex==2020.4.4
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
Unidecode==1.1.1
