{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="is-fullhd">
  <div class="columns is-centered">
      {% if form.errors %}
      <p class="help is-danger">
        Your username and password didn't match.
        Please try again.
      </p>
      {% endif %}
    </div>
    <div class="columns is-centered">
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
      {% endif %}
    </div>
    <div class="columns is-centered">
    <div class="box">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input id="id_username" name="username" class="input" type="text" placeholder="username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="id_password" class="label">Password</label>
          <p class="control has-icons-left">
            <input id="id_password" name="password" type="password" class="input" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>


        <input type="submit" class="button is-primary" value="Login" class="btn btn-primary pull-right" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}