packages:
  yum:
    gcc-c++: []
    libffi-devel: []
    postgresql94-devel: []
    git: []

commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs --enablerepo=epel'

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
