packages:
  yum:
    gcc-c++: []
    libffi-devel: []
    postgresql94-devel: []
    git: []

commands:
  01_node_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
      command: 'curl --silent --location https://rpm.nodesource.com/setup_14.x | bash - && yum -y install nodejs'
