packages:
  yum:
    gcc-c++: []
    libffi-devel: []
    postgresql94-devel: []
    git: []

commands:
  01_node_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
      command: 'curl --silent --location https://rpm.nodesource.com/setup_14.x | bash - && yum -y install nodejs'

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R nodejs:nodejs /tmp/.npm
