.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../static/img/header_texture.png'), url('../static/img/footer_texture.png');
	background-repeat: no-repeat, no-repeat;
	background-color: #f8f8f8;
	background-position: top, bottom;
	background-size: contain, contain;
}

.Site-content {
	flex: 1;
}

footer {
	padding: 1rem 1rem 1rem !important;
	background-color: white !important;
}

.hero {
	padding-bottom: 1rem;
}

.leaflet-container {
	/* all maps */
	z-index: 1;
}

::placeholder {
	color: grey !important;
	opacity: 0.3 !important;
	font-size: 0.8rem;
}

.cities-dropdown-wrapper {
	margin-bottom: 1em;
}

.cities-dropdown input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.cities-dropdown .select {
	width: 100%;
}

.requests-table-paginator > .has-multiple-pages-true,
.request-table-paginator > .has-next-true,
.request-table-paginator > .has-prev-true {
	display: block;
}

.requests-table-paginator > .has-multiple-pages-false,
.request-table-paginator > .has-next-false,
.request-table-paginator > .has-prev-false {
	display: none;
}

.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: transparent;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.loader-wrapper.is-active {
	opacity: 1;
	z-index: 10;
}

.loader-wrapper > .loader {
	height: 100px;
	width: 100px;
	border-width: 5px;
}

.home-cards {
	border-radius: 5px;
}

.level {
	width: 100%;
}

.media-buttons {
	margin: 30px;
}