.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.regular-shadow {
	-webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
}

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../img/footer_texture.png'), url('../img/header_texture.png');
	background-repeat: no-repeat, no-repeat;
	background-color: #f8f8f8;
	background-position: bottom, top;
	background-size: contain, contain;
}

.Site-content {
	flex: 1;
}

.is-active {
	color: #2979ff;
	border-bottom: 2px solid #2979ff !important;
}

.breadcrumb li + li::before {
	color: #2979ff;
}

footer {
	padding: 1rem 1rem 1rem !important;
	background-color: white !important;
}

.hero {
	padding-bottom: 1rem;
}

.leaflet-container {
	/* all maps */
	z-index: 1;
}

::placeholder {
	color: grey !important;
	opacity: 0.3 !important;
	font-size: 0.8rem;
}

.cities-dropdown-wrapper {
	margin-bottom: 1em;
}

.cities-dropdown input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.cities-dropdown .select {
	width: 100%;
}

.requests-table-paginator > .has-multiple-pages-true,
.request-table-paginator > .has-next-true,
.request-table-paginator > .has-prev-true {
	display: block;
}

.requests-table-paginator > .has-multiple-pages-false,
.request-table-paginator > .has-next-false,
.request-table-paginator > .has-prev-false {
	display: none;
}

.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: transparent;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.loader-wrapper.is-active {
	opacity: 1;
	z-index: 10;
}

.loader-wrapper > .loader {
	height: 100px;
	width: 100px;
	border-width: 5px;
}

.home-cards {
	border-radius: 5px;
}

.level {
	width: 100%;
}

.media-buttons {
	margin: 30px;
}

.breadcrumb.has-bullet-separator li + li::before {
	content: none !important;
}

.breadcrumb li + li::before {
	color: #b5b5b5;
	content: none;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.animated.delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.animated.delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.animated.delay-4s {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

.animated.delay-5s {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

.animated.fast {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
}

.animated.faster {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

.animated.slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.animated.slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
	.animated {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
.hover-grow {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hover-grow:active,
.hover-grow:focus,
.hover-grow:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.hover-fade {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.hover-fade:hover,
.hover-fade:focus,
.hover-fade:active {
	background-color: #2098d1;
	color: white;
}
