.hover-grow {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hover-grow:active,
.hover-grow:focus,
.hover-grow:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
