{% load static %}
{% load i18n %}
<footer class="footer">
    <nav class="columns is-vcentered">
        <!-- Left side -->
        <div class="column is-one-fifth">
            <p class="level-item">
            <ul class="list is-fullwidth-mobile has-text-left-desktop has-text-centered-mobile">
                <a class="list-item" href="{% url 'legal' %}">{% trans "Terms of use" %}</a>
                <a class="list-item" href="{% url 'general_faq' %}">{% trans "Frequently asked questions" %}</a>
                <a class="list-item" href="{% url 'contact_us' %}">{% trans "Contact information" %}</a>
            </ul>
        </div>

        <div class="column is-three-fifth">
            <div class="columns is-mobile is-centered">
                <figure class="image is-96x96">
                    <!-- <a href="{% url 'login'%}?next={{request.path}}">
                        {#<h6 class="is-full subtitle is-6 has-text-centered is-marginless">Apoya</h6>#}
                        <img class="is-rounded" src="">
                    </a> -->
                </figure>
            </div>
            <div class="columns  is-mobile is-centered">
                {% if user.is_authenticated %}
                <p>Usuario: <b>{{ user.get_username }}</b><br>
                    <a href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a>
                </p>
                {% endif %}
            </div>
        </div>

        <!-- Right side -->
        <div class="column is-one-fifth">
            <!-- <div class="level-item"> -->
            <p class="column is-size-7 has-text-centered has-text-right-desktop is-family-monospace">
                {% trans "Created by" %} <a href="https://melizeche.com">Marcelo Elizeche</a>
                <br> {% trans "License" %} <a href="https://opensource.org/licenses/GPL-3.0">GPLv3</a>
                <br><a href="https://github.com/melizeche/ayudapy" target="_blank" rel="noopener noreferrer">{% trans "Source code" %}<span class="icon"><i class="fab fa-github" title="logo Github"></i></span></a>
            </p>
            <!-- </div> -->
        </div>
    </nav>

</footer>