{% extends 'base.html' %}
{% load i18n %}

{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">
                <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>{% trans "Home" %}</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">{% trans "Terms of use" %}</a></li>
    </ul>
</nav>
{% endblock bread %}

{% block content%}
{% comment %} <article class="message is-large is-primary">
    <div class="message-header">
        <p>AVISO LEGAL</p>
    </div>
    <div class="message-body"> {% endcomment %}
        <div class="content">
            <h1>{% trans "LEGAL WARNING" %}</h1>

            <h3>DISCLAIMER</h3>

            <p>
                {% blocktrans trimmed %}
                By accessing and using the website and the AyudaPy database the user acknowledges
                the legally binding effect of the following conditions of use and the disclaimer.
                {% endblocktrans %}
                <br>
                {% blocktrans trimmed %}
                In case the user does not agree with these conditions of use,
                he will not be able to access the AyudaPy website.
                {% endblocktrans %}
            </p>

            <h2>1. {% trans "Information published on the website" %}</h2>

            <p>
                {% blocktrans trimmed %}
                The information provided by AyudaPy is based exclusively on the contributions provided by users of the same voluntarily;
                therefore, the responsibility regarding the veracity of the data published in this public list corresponds to each user
                who makes use of it.
                {% endblocktrans %}
            </p>

            <h2>2. {% trans "Liability" %}</h2>

            <p>
                {% blocktrans trimmed %}
                AyudaPy is not responsible for any erroneous, incomplete or outdated
                information published on this website.
                {% endblocktrans %}
                <br>
                {% blocktrans trimmed %}
                AyudaPy assumes no responsibility for the malfunction of the functions of
                the website.
                {% endblocktrans %}
                <br>
                {% blocktrans trimmed %}
                Those liability claims against AyudaPy that refer to direct or indirect
                material or intellectual damages and that have been caused by access to this
                website and its contents and / or other websites linked to it and its contents
                are expressly excluded, as well as for the use or non-use of the information
                represented or for the use of erroneous or incomplete information.
                {% endblocktrans %}
                <br>
                {% blocktrans trimmed %}
                AyudaPy is designed to prevent Cross-Site Request Forgery (CSRF) attacks related
                to data transmission.
                {% endblocktrans %}
                {% blocktrans trimmed %}
                However, data transmission over the internet is not completely secure. Therefore,
                the information published on the AyudaPy website may be subject to alterations or
                interruptions as well as breaches of security and confidentiality. For this reason,
                AyudaPy assumes no responsibility for the receipt / non-receipt or processing /
                non-processing of any information that the user has transmitted to and from AyudaPy
                through this website or through an electronic address.
                {% endblocktrans %}
            </p>

            <h2>3. {% trans "Intellectual property" %}</h2>
            <p>
                {% blocktrans trimmed %}
                The content of this web page and the data of AyudaPy are distributed
                under the license
                {% endblocktrans %}
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
                <br>
                {% blocktrans trimmed %}
                The source code is distributed under the license
                {% endblocktrans %}
                <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3.</a>
            </p>
        </div>

        {% endblock %}