<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AyudaPy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>

<body>
    <section class="hero">
        <div class="container">
            <h1 class="title center">
       AyudaPy<span class="icon is-large has-text-grey-dark"><i class="fas fa-hand-holding-heart"></i></span>
      </h1>
            <p class="subtitle center">
                Experimento para unir a gente que necesita con gente que quiere ayudar
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container">
          {% block content %}
          {% endblock content %}
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Desarrollado por <a href="https://melizeche.com">Marcelo Elizeche Landó</a>.
                <br> El código bajo la licencia GPLv3. <a href="https://github.com/melizeche/listahu" target="_blank"><span class="icon"><i class="fab fa-github" title="logo Github"></i></span>Revisa el código en GitHub</a>.
            </p>
        </div>
    </footer>
</body>

</html>