{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} AyudaPy {% endblock %}</title>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% block fb-url %} {{ request.build_absolute_uri }} {% endblock %}">
    <meta property="og:title" content="{% block fb-title %} AyudaPy {% endblock %}">
    <meta property="og:description" content="{% block fb-description %} AyudaPy {% endblock %}">
    <meta property="og:image" content="{% block fb-image %} {% static "favicon.ico" %} {% endblock %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    

    <link  rel="icon"   href="{% static "favicon.ico" %}" type="image/ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162827339-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-162827339-1');
    </script>

    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .Site-content {
            flex: 1;
        }
        footer{
            padding: 1rem 1rem 1rem !important;
        }
        .hero{
            padding-bottom: 1rem;
        }
        .leaflet-container {  /* all maps */
            z-index: 1;
        }
        ::placeholder {
            color: grey !important;
            opacity: 0.3 !important;
            font-size: 0.8rem;
        }

        .cities-dropdown-wrapper {
            margin-bottom: 1em;
        }

        .cities-dropdown input::-webkit-calendar-picker-indicator {
              opacity: 0;
        }

        .cities-dropdown .select {
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@vizuaalog/bulmajs@0.10.3/dist/file.js" integrity="sha256-9BDCQ1iKLp8eEXxQD6U8StZ4V2On9KFEHDeHeXLZ/aE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vizuaalog/bulmajs@0.10.3/dist/modal.js" integrity="sha256-HDcVnTQ5+DdyigrR4Xge4rxqguBi19XI7vNDhTDr+hs=" crossorigin="anonymous"></script>
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
</head>

<body class="Site">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a> -->

            <a class="navbar-item" href="/">
                <h1 class="title center">
                    <span style="color:red;">
                        Ayuda
                    </span>
                    <span style="color:blue;">
                        Py
                    </span>
                    <span class="icon is-large has-text-grey-dark">
                        <i class="fas fa-hand-holding-heart" style="color:red;"></i>
                    </span>
                </h1>
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            <a class="navbar-item" href="/">
                <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span style="padding-left: 5px;">
                    Inicio
                </span> 
            </a>
        
            <a class="navbar-item" href="/legal">
                <span class="icon is-small">
                    <i class="fas fa-file-contract" aria-hidden="true"></i>
                </span>
                <span style="padding-left: 5px;">
                    Términos de uso
                </span>  
            </a>
        
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon is-small">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    <span style="padding-left: 5px;">
                        Más
                    </span>
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item" href="/recibir">
                    <span class="icon is-small">
                        <i class="fas fa-hand-holding-heart" aria-hidden="true"></i>
                    </span>
                    <span style="padding-left: 5px;">
                        !Necesito ayuda!
                    </span>            
                </a>
                <a class="navbar-item" href="/dar">
                    <span class="icon is-small">
                        <i class="fas fa-hands-helping" aria-hidden="true"></i>
                    </span>
                    <span style="padding-left: 5px;">
                        !Quiero Ayudar!
                    </span>  
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" style="pointer-events:none; opacity:.65;">
                    <span class="icon is-small">
                        <i class="far fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span style="padding-left: 5px;">
                        Preguntas Frecuentes
                    </span>
                </a>
                <a class="navbar-item" style="pointer-events:none; opacity:.65;">
                    <span class="icon is-small">
                        <i class="fas fa-mail-bulk" aria-hidden="true"></i>
                    </span>
                    <span style="padding-left: 5px;">
                        Contacto
                    </span>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="https://github.com/melizeche/ayudapy" target="_blank">
                    <span class="icon is-small">
                        <i class="fab fa-github" aria-hidden="true"></i>
                    </span>
                    <span style="padding-left: 5px;">
                        Github - Código Fuente
                    </span>  
                </a>
                </div>
            </div>
            </div>
        
            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a class="button is-primary">
                    <strong>Registrarse</strong>
                </a>
                <a class="button is-light">
                    Ingresar
                </a>
                </div>
            </div>
            </div>
        </div>
    </nav>
    <section class="hero is-primary">
        <div class="container">
          <!-- <a href="/">
            <h1 class="title center">AyudaPy<span class="icon is-large has-text-grey-dark"><i class="fas fa-hand-holding-heart"></i></span></h1>
          </a> -->
            <p class="subtitle center is-6" style="padding-top: 10px; font-weight: bold;">
                Herramienta que permite unir gente que necesita ayuda con gente que quiere ayudar.
            </p>
        </div>
    </section>
<main class="Site-content">
    <section class="section">
        <div class="container">
          {% block bread %}
          {% endblock bread %}
          {% block content %}
          {% endblock content %}
        </div>
    </section>
</main>
{% include 'footer.html' %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
        }
    });
</script>
</body>

</html>