{% extends 'base.html' %}
{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <span class="icon is-small">
        <i class="fas fa-home" aria-hidden="true"></i>
      </span>
      <a href="/">Inicio</a></li>
    <li class="is-active"><a href="#" aria-current="page">Contacto</a></li>
  </ul>
</nav>
{% endblock bread %}
{% block content%}

<div class="columns is-centered center">
  <div class="column">
    <div class="tile is-ancestor center">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child is-warning">
          <p class="title is-4 center has-text-weight-bold" style="overflow: hidden; color: #2979FF; margin-bottom: 10px; padding-bottom: 10%;">¿Deseas contactarnos? </p>

          <div class="card home-cards  is-4by3" style="background-color: #2979FF">
            <div class="card-content" style="padding: 50px">
              <div class="media is-centered">
                <div class="media-left" style="margin-right: 2rem;">
								<figure class="image is-96x96">
									<img class="is-rounded" src="../static/img/contactusicon.svg" alt="" />
                </figure>
                </div>
                <div class="media-content">
                  <p class="subtitle is-size-6 has-text-justified has-text-white">
                    Si tenés alguna duda o consulta, podés contactarnos a través de las redes sociales que están más abajo, o envianos un correo a 
                    <a href="mailto:contacto@ayudapy.org"><i class="has-text-white has-text-weight-bold" style="color: currentColor; font-style: normal;
                    text-decoration: underline;">contacto@ayudapy.org</i></a> y con gusto te atenderemos.
                 </p>
               </div>
              </div>
             </div>
           </div>


      </div>
    </div>
  </div>
</div>

{% endblock %}
