{% extends 'base.html' %}
{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <span class="icon is-small">
        <i class="fas fa-home" aria-hidden="true"></i>
      </span>
      <a href="/">Inicio</a></li>
    <li class="is-active"><a href="#" aria-current="page">Contacto</a></li>
  </ul>
</nav>
{% endblock bread %}
{% block content%}

<div class="columns is-centered center">
  <div class="column">
    <div class="tile is-ancestor center">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child is-warning">
          <p class="title">¿Deseas contactarnos?</p>
          <p class="has-text-justified">
            Si tenés alguna duda o consulta, podés contactarnos a través de las redes sociales que están más abajo, o envianos un correo a 
              <a href="mailto:contacto@ayudapy.org"><i>contacto@ayudapy.org</i></a> y con gusto te atenderemos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}