{% extends 'base.html' %}
{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <span class="icon is-small">
        <i class="fas fa-home" aria-hidden="true"></i>
      </span>
      <a href="/">Inicio</a></li>
    <li class="is-active"><a href="#" aria-current="page">Contacto</a></li>
  </ul>
</nav>
{% endblock bread %}
{% block content%}

<div class="columns is-centered center">
  <div class="column">
    <div class="tile is-ancestor center">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child is-warning">
          <p class="title">¿Deseas contactarnos?</p>
          <p class="has-text-justified">
            Si tenés alguna duda o consulta, podés contactarnos a través de las redes sociales que están más abajo, o envianos un
              <a href="mailto:ayudapy.contact@gmail.com"><i>correo</i></a> y con gusto te atenderemos.
          </p>
        </div>
{#        <div class="tile is-child buttons">#}
{#          <a href="https://www.twitter.com/ayuda_py" target="_blank">#}
{#            <button class="button is-medium">#}
{#              <span class="icon">#}
{#                <i class="fab fa-twitter has-text-info"></i>#}
{#              </span>#}
{#              <!-- <span>@ayuda_py</span> -->#}
{#            </button>#}
{#          </a>#}
{#          <a href="https://instagram.com/ayuda.py" target="_blank">#}
{#            <button class="button is-medium">#}
{#              <span class="icon">#}
{#                <i class="fab fa-instagram has-text-danger"></i>#}
{#              </span>#}
{#              <!-- <span>@ayuda.py</span> -->#}
{#            </button>#}
{#          </a>#}
{#          <a href="https://www.facebook.com/ayudapy/" target="_blank">#}
{#            <button class="button is-medium">#}
{#              <span class="icon">#}
{#                <i class="fab fa-facebook has-text-link"></i>#}
{#              </span>#}
{#              <!-- <span>@ayudapy</span> -->#}
{#            </button>#}
{#          </a>#}
{#          <a href="https://www.youtube.com/channel/UCtRcDRTKA2uQCzfvlPNvbNQ" target="_blank">#}
{#            <button class="button is-medium">#}
{#              <span class="icon">#}
{#                <i class="fab fa-youtube has-text-danger"></i>#}
{#              </span>#}
{#              <!-- <span>@ayudapy</span> -->#}
{#            </button>#}
{#          </a>#}
{#        </div>#}
      </div>
    </div>
  </div>
</div>

{% endblock %}
