<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Frequently Asked Questions</h2>
        <div class="list is-hoverable"><a class="list-item" href="#"> 
            <div class="media">
            <div class="media-content">How is a decentralized network different from the traditional web?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            </div></a><a class="list-item" href="#"> 
            <div class="media">
            <div class="media-content">Why shouldn't I just store my data on a Hooli Box?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            </div></a><a class="list-item" href="#"> 
            <div class="media">
            <div class="media-content">What makes PiperNet so safe?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            </div></a><a class="list-item" href="#"> 
            <div class="media">
            <div class="media-content">How long does it take to get a company up and running on PiperNet?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            </div></a><a class="list-item" href="#"> 
            <div class="media">
            <div class="media-content">How is a decentralized network different from the traditional web?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            </div></a><a class="list-item" href="#"> 
            <div class="media">
            <div class="media-content">Why shouldn't I just store my data on a Hooli Box?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            </div></a></div>
    </div>
</section>