<footer class="footer">
<nav class="columns">
  <!-- Left side -->
  <div class="column is-2">
	  <p class="level-item">
	      <ul class="list is-fullwidth-mobile">
	        <li class="list-item"><a href="/legal">Términos de uso</a></li>
	        <li class="list-item"><a href="{% url  'general_faq' %}">Preguntas frecuentes</a></li>
            <li class="list-item"><a href="{% url 'contact_us' %}">Contacto</a></li>
	      </ul>
  </div>


    <div class="column is-4 is-offset-2">
{#      <div class="columns is-mobile">#}
{#        <div class="column is-1 has-centered is-offset-3">#}
{#          <figure class="image is-96x96">#}
{#              <a href="https://www.twitter.com/ayuda_py" target="_blank">#}
{#                <img class="is-rounded" src="../static/img/twitter.svg">#}
{#              </a>#}
{#          </figure>#}
{#        </div>#}
{#          <div class="column is-1 has-centered">#}
{#          <figure class="image is-96x96">#}
{#              <a href="https://instagram.com/ayuda.py" target="_blank">#}
{#                <img class="is-rounded" src="../static/img/instagram.svg">#}
{#              </a>#}
{#          </figure>#}
{#        </div>#}
{#          <div class="column is-1 has-centered">#}
{#          <figure class="image is-96x96">#}
{#              <a href="https://www.facebook.com/ayudapy/" target="_blank">#}
{#                <img class="is-rounded" src="../static/img/facebook.svg">#}
{#              </a>#}
{#          </figure>#}
{#        </div>#}
{#          <div class="column is-1 has-centered">#}
{#          <figure class="image is-96x96">#}
{#              <a href="https://www.youtube.com/ayudapy" target="_blank">#}
{#                <img class="is-rounded" src="../static/img/youtube.svg">#}
{#              </a>#}
{#          </figure>#}
{#        </div>#}
{#      </div>#}
        <div class="columns is-mobile is-centered">
            <div class="column is-4">
                 <a href="https://www.twitter.com/ayuda_py" target="_blank">
                    <button class="button is-medium">
                      <span class="icon">
                        <i class="fab fa-twitter has-text-info"></i>
                      </span>
                      <!-- <span>@ayuda_py</span> -->
                    </button>
                  </a>
                  <a href="https://instagram.com/ayuda.py" target="_blank">
                    <button class="button is-medium">
                      <span class="icon">
                        <i class="fab fa-instagram has-text-danger"></i>
                      </span>
                      <!-- <span>@ayuda.py</span> -->
                    </button>
                  </a>
                  <a href="https://www.facebook.com/ayudapy/" target="_blank">
                    <button class="button is-medium">
                      <span class="icon">
                        <i class="fab fa-facebook has-text-link"></i>
                      </span>
                      <!-- <span>@ayudapy</span> -->
                    </button>
                  </a>
            </div>
        </div>
    </div>

  <!-- Right side -->
  <div class="column is-4">
    <div class="level-item">
        <p class="column is-8 is-size-7 is-offset-4 has-text-centered has-text-right-desktop is-family-monospace">
            Desarrollado por <a href="https://melizeche.com">Marcelo Elizeche Landó</a>.
            <br> Código fuente liberado bajo la licencia <a href="https://opensource.org/licenses/GPL-3.0">GPLv3</a>.
            <br><a href="https://github.com/melizeche/ayudapy" target="_blank"><span class="icon"><i class="fab fa-github" title="logo Github"></i></span>Revisá el código en GitHub</a>.
        </p>
    </div>
   </div>
</nav>

</footer>
