{% load static %}
<footer class="footer animated fadeIn faster">
	<nav class="columns is-vcentered">
		<!-- Left side -->
		<div class="column is-one-fifth">
			<a class="navbar-item" href="{% url 'legal' %}">
				<div class="level is-mobile">
					<div class="level-left">
						<span class="level-item">Términos de uso</span>
					</div>
					<div class="level-right">
						<span class="icon level-item">
							<i class="fas fa-chevron-right"></i>
						</span>
					</div>
				</div>
			</a>

			<a class="navbar-item" href="{% url 'general_faq' %}">
				<div class="level is-mobile">
					<div class="level-left">
						<span class="level-item">Preguntas frecuentes</span>
					</div>
					<div class="level-right">
						<span class="icon level-item">
							<i class="fas fa-chevron-right"></i>
						</span>
					</div>
				</div>
			</a>

			<a class="navbar-item" href="{% url 'contact_us' %}">
				<div class="level is-mobile">
					<div class="level-left">
						<span class="level-item">Contacto</span>
					</div>
					<div class="level-right">
						<span class="icon level-item">
							<i class="fas fa-chevron-right"></i>
						</span>
					</div>
				</div>
			</a>
		</div>

		<!-- Center side -->
		<div class="column is-three-fifths media center">
			<a class="media-buttons hover-grow">
				<i class="fab fa-twitter fa-2x"></i>
			</a>
			<a class="media-buttons hover-grow">
				<i class="fab fa-facebook-square fa-2x"></i>
			</a>
			<a class="media-buttons hover-grow">
				<i class="fab fa-instagram fa-2x"></i>
			</a>
			<a class="media-buttons hover-grow">
				<i class="fab fa-youtube fa-2x"></i>
			</a>
		</div>

		<!-- Right side -->
		<div class="column is-one-fifth">
			<p class="column is-size-7 has-text-centered has-text-right-desktop">
				<a href="https://coderio.co/" target="_blank" style="color: black; font-weight: bold;">
					Potenciado por _coderio</a
				>
			</p>
		</div>
	</nav>
</footer>
