{% extends 'base.html' %}

{% block content %}

	<div class="content">
	<h1>PREGUNTAS FRECUENTES</h1>
		<div class="bd-post-container">
			<div class="bd-post content is-medium">

				{% for faq in faq_list %}

					{# question title #}
					<h3 id="faq_{{ faq.id }}" class="title is-4 is-spaced bd-anchor-title">
						<span class="bd-anchor-name">
							{{ faq.question }}
						</span>
						<a class="bd-anchor-link" href="#faq_{{ faq.id }}">
						#
						</a>
					</h3>
					{# question answer #}
					<p>{{ faq.answer | safe}}</p>

					<hr class="hr" style="margin-bottom: 0;">
				{% empty %}
					<p> Esta sección se encuentra vacía...</p>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock content %}
