{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <span class="icon is-small">
                <i class="fas fa-home" aria-hidden="true"></i>
                </span>
            <a href="/">Inicio</a></li>
        <li><a href="/recibir">Info</a></li>
        <li class="is-active"><a href="#" aria-current="page">Recibir ayuda</a></li>
    </ul>
</nav>
{% endblock bread %} 
{% block content%}
<div class="columns is-centered">
    <div class="column is-half">
        <form enctype="multipart/form-data" method="post" action="/solicitar">
            {% csrf_token %} 
            {% include 'includes/bulma_form.html' with form=form %}
            <div class="control">
                <button id="submit" class="button is-success is-fullwidth">Enviar</button>
            </div>
        </form>

<div class="modal" id="myModal">
  <<div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Ayuda con el mapa</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <li class="is-size-7"> Mové el mapa hasta donde veas tu ubicación y luego apretá en el icono <i class="fas fa-map-marker-alt"></i> y luego marcá en el mapa el punto exacto</li>
            <li class="is-size-7"> Si te equivocaste podés apretar en el icono <i class="far fa-edit"></i> así podés mover el marcador, una vez corregido apretar 'Grabar' </li>
                <p class="image"><img src="{% static "img/ayudamapa.gif" %}" alt=""></p>
        </section>
        <footer class="modal-card-foot">
             <button class="button is-success close">Ok</button>
        </footer>
    </div>
</div>

<script>

function geoFindMe() {

            const status = document.querySelector('#status');


            function success(position) {
              const latitude  = position.coords.latitude;
              const longitude = position.coords.longitude;

              console.log('${latitude} '+longitude);
              //you = L.marker([latitude, longitude], {opacity: 0.3, title:'Tu ubicación'}).addTo(maps[0]);
              //you.bindPopup('Tu ubicación').openPopup();
              maps[0].panTo(new L.LatLng(latitude, longitude), 16);
            }

            function error() {
              status.textContent = 'No puedo encontrarte, usá los botones del mapa';
            }

            if (!navigator.geolocation) {
              status.textContent = 'Tu navegador no soporta la geolocalización';
            } else {
              status.textContent = 'Buscando tu ubicación…';
              navigator.geolocation.getCurrentPosition(success, error);
            }

          }

          document.querySelector('#find-me').addEventListener('click', geoFindMe);

</script>
<script>

function disableButton(){
    console.log('AAA')
}

document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    //map.invalidateSize();
    target.classList.add('is-active');

    target.querySelector('.close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
     target.querySelector('.delete').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
     target.querySelector('.modal-background').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>
{% endblock %}