{% extends 'base.html'%}
{% load i18n %}

{% block content %}
<div class="is-fullhd">
    {% if not perms.org.add_donationcenter %}
    <div class="columns is-centered">
        <div class="column is-3">
            <a href="/recibir">
                <article class="tile is-child notification has-text-centered" style="background-color: #ffb852; color: white;">
                    <p class="title is-4">{% trans "I need help!" %}</p>
                    <p class="subtitle is-size-7">{% trans "Post your request for people to see it" %}</p>
                </article>
            </a>
        </div>
        <div class="column is-3">
            <a href="/dar">
                <article class="tile is-child notification has-text-centered" style="background-color: #4cd36f; color: white;">
                    <p class="title is-4">{% trans "I want to help!" %}</p>
                    <p class="subtitle is-6 is-size-7">{% trans "Find someone close to you to help" %}</p>
                </article>
            </a>
        </div>
    </div>
    <div class="columns is-centered">
        <!--<div class="column is-3">
            <a href="/donaciones">
                <article class="tile is-child notification has-text-centered" style="background-color: #6e6bd1; color: white;">
                    <p class="title is-4">{% trans "Donation Centers!" %}</p>
                    <p class="subtitle is-6 is-size-7">{% trans "See what you can donate and where" %}</p>
                </article>
            </a>
        </div>
        <div class="column is-3">
            <a href="/voluntario/legal">
                <article class="tile is-child notification has-text-centered" style="background-color: #f95d82; color: white;">
                    <p class="title is-4">{% trans "I want to volunteer!" %}</p>
                    <p class="subtitle is-size-7">{% trans "Help us to help" %}</p>
                </article>
            </a>
        </div> -->
    </div>
    {% else %}
    <div class="columns is-centered">
        <div class="column is-4">
            <a href="/dar">
                <article class="tile is-child notification has-text-centered" style="background-color: #4cd36f; color: white;">
                    <p class="title is-4">{% trans "I want to help!" %}</p>
                    <p class="subtitle is-6 is-size-7">{% trans "Find someone close to you to help" %}</p>
                </article>
            </a>
        </div>
        <!-- <div class="column is-4">
            <a href="/donaciones">
                <article class="tile is-child notification has-text-centered" style="background-color: #6e6bd1; color: white;">
                    <p class="title is-4">{% trans "Donation Centers!" %}</p>
                    <p class="subtitle is-6 is-size-7">{% trans "See what you can donate and where" %}</p>
                </article>
            </a>
        </div>
        <div class="column is-4">
            <a href="/donar">
                <article class="tile is-child notification has-text-centered" style="background-color: #f95d82; color: white;">
                    <p class="title is-4">{% trans "Register a Center!" %}</p>
                    <p class="subtitle is-6 is-size-7">{% trans "Register a Donation Center" %}</p>
                </article>
            </a>
        </div> -->
    </div>
    {% endif %}
</div>

{% endblock %}