{% extends 'base.html'%}

{% block content %}
<div class="tile is-ancestor center">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <a href="/recibir">
                    <article class="tile is-child notification is-primary">
                        <p class="title ">Necesito ayuda</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                </a>
            </div>
            <div class="tile is-parent is-vertical">
                <a href="/dar">
                    <article class="tile is-child notification is-info">
                        <p class="title">Quiero ayudar</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}