{% extends 'base.html'%}

{% block content %}
<div class="tile is-ancestor center">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <a href="/recibir">
                    <article class="tile is-child notification is-success">
                        <p class="title ">Necesito ayuda</p>
                        <p class="subtitle">Publicá tu pedido para que la gente vea</p>
                    </article>
                </a>
            </div>
            <div class="tile is-parent is-vertical">
                <a href="/dar">
                    <article class="tile is-child notification is-info">
                        <p class="title">Quiero ayudar</p>
                        <p class="subtitle">Encontrá a alguien cerca tuyo para ayudar</p>
                    </article>
                </a>
            </div>
        </div>
    </div>
</div>
 <div class="tile is-vertical is-fullwidth center">
        <div class="tile">
            <div class="tile is-parent">
                    <article class="tile is-child notification disabled">
                        <p class="title ">Soy personal de blanco y necesito ayuda</p>
                        <p class="subtitle">Próximamente</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}