{% extends 'base.html' %}
{% block content%}
<div class="tile is-ancestor center">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child notification is-danger">
            <p class="title">Importante</p>
            <p>Esta es una plataforma ciudadaba depende totalmente de la buena voluntad de la gente, no hay garantias de recibir ayuda si o si, si necesitas algo urgente bla bla bla.</p>
        </div>
        <div class="tile is-child is-warning box">
            <p class="title">Como funciona</p>
            <p>Tenes que cargar tu datos, nombre, telefono de contacto, ciudad, barrio/zona y que necesitas.</p>
        </div>
        <div class="tile is-child ">
            <a href="#">
                <button class="button is-success is-large">Ok, entiendo quiero continuar</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}