{% extends 'base.html' %} {% block bread %}
<nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
	<ul>
		<li><a href="/" style="color: #9096a1;">Inicio</a></li>
		<li class="is-active">
			<a href="#" class="is-active" style="color: #2979ff;">Brindar ayuda</a>
		</li>
	</ul>
</nav>
{% endblock bread %} {% block content%} {% include "./disclaimer.html" %}
<div class="columns center">
	<div
		class="column is-two-third-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd is-marginless is-paddingless"
	>
		<article class="media animated fadeIn">
			<div class="media-content">
				<a
					href="/pedidos"
					class="button is-success is-fullwidth hover-grow"
					style="border-radius: 10px; margin-top: 30px;"
				>
					<span>Si entiendo, quiero continuar </span>
				</a>
			</div>
		</article>
	</div>
</div>

{% endblock %}
