{% extends 'base.html' %}

{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">
                <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>Inicio</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Términos de Uso</a></li>
    </ul>
</nav>
{% endblock bread %}

{% block content%}
            {% comment %} <article class="message is-large is-primary">
                <div class="message-header">
                    <p>AVISO LEGAL</p>
                </div>
                <div class="message-body"> {% endcomment %}
<div class="content">
<h1>AVISO LEGAL</h1>

<h3>DISCLAIMER</h3>

<p>Al acceder y utilizar la página web y a la base de datos de AyudaPy, el usuario reconoce el efecto 
legalmente vinculante de las siguientes condiciones de uso y de la cláusula de descargo de responsabilidad.<br>
En caso de que el usuario no esté de acuerdo con estas condiciones de uso, no podrá acceder a la página web de AyudaPy.</p>

<h2>1. Información publicada en la página web </h2>

<p>La información provista por AyudaPy se basa exclusivamente en los aportes suministrados por los usuarios de la misma voluntarimente; 
por lo tanto, la responsabilidad acerca de la veracidad de los datos publicados en la presente lista pública corresponde a cada usuario que haga uso de ella.</p>

<h2>2. Descargo de responsabilidad</h2>

<p>AyudaPy no se hace responsable de ninguna información errónea, incompleta o desactualizada publicada en esta página web.  <br>
AyudaPy no asume ninguna responsabilidad por el mal funcionamiento de las funciones de la página web.<br>
Quedan expresamente excluidas aquellas demandas de responsabilidad contra AyudaPy que se refieran a daños directos 
o indirectos de índole material o intelectual y que hayan sido causados por el acceso a esta página web y a sus contenidos y/o a otras 
páginas web enlazadas en la misma y a sus contenidos, así como por la utilización o la no utilización de la información representada y/o por la utilización de información errónea o incompleta.<br>
AyudaPy esta diseñada para evitar ataques de Cross-Site Request Forgery (CSRF) en relación a la transmisión de datos. 
Sin embargo, la transmisión de datos por internet no es completamente segura. Por lo tanto, la información publicada en la página web de AyudaPy puede verse sometida a alteraciones 
o interrupciones así como a violaciones de la seguridad y la confidencialidad. Por este motivo, AyudaPy no asume ninguna responsabilidad por la recepción/no recepción o el 
procesamiento/no procesamiento de cualquier información que el usuario haya transmitido desde y a AyudaPy a través de la presente página web o a través de una dirección electrónica.</p>

<h2>3. Propiedad intelectual</h2>
<p>El contenido de esta página web y los datos de AyudaPy están distribuidos bajo la 
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a>
 y el código fuente bajo la <a href="https://www.gnu.org/licenses/gpl-3.0.html"> licencia GPLv3.</a></p>
</div>
           
{% endblock %}