{% extends 'base.html' %}
{% load leaflet_tags %}
{% load humanize %} 

{% block bread %}
  <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
            </span>
            <a href="/">Inicio</a>
        </li>
        <li><a href="/dar">Info ayudar</a></li>
        <li class="is-active"><a href="#" aria-current="page">Pedidos de ayuda</a></li>
      </ul>
  </nav>
{% endblock bread %}

{% block content%}
<div class="title center">
  Pedidos cercanos {{help_request.id}}
</div>
{% if not list_help %}
<div class="notification is-warning center is-size-5">
  Todavía no hay pedidos de ayuda, volvé en un rato
</div>
{% endif %}
    <div class="columns is-centered">
      <div class="column is-6">
        {% leaflet_map "main" callback="main_map_init" %}
        <button id="find-me" class="button is-success  is-outlined is-fullwidth">Mi ubicacion</button>
        <p id="status"></p>
      </div>
      <div class="column is-6">
          <div class="row is-centered">
            <div class="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Ciudades</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% for city, code in list_cities %}
                      <a href="/pedidos_ciudad/{{code}}" class="dropdown-item">
                        {{city}}
                      </a>
                    {% endfor %}

                </div>
              </div>
            </div>
          </div>
          <article class="panel is-info">
            <p class="panel-heading">
              Últimos pedidos de ayuda
            </p>
        {% for pedido in list_help %}
            <a href="/pedidos/{{pedido.id}}" class="panel-block is-success" title="{{pedido.added}}">
              <span class="panel-icon">
                <i class="fas fa-people-carry" aria-hidden="true"></i>
              </span>
              #{{pedido.id}} | {{pedido.title}} | {{pedido.added|naturaltime}}
            </a>
        {% endfor %}
          </article>
      </div>
    </div>
    <script type="text/javascript">
        function main_map_init (map, options) {
            // Use Leaflet API here
            this.map = map
            {% autoescape off %}
            var lon = "{{ help_request.location.x|escapejs }}";
            var lat = "{{ help_request.location.y|escapejs }}";
            data = {{ geo }}
            {% endautoescape %}
            // zoom to point & add it to map
            //map.setView([lat, lon], 14);
            //L.marker([lat, lon]).addTo(map);
            // Agregar boton de FullScreen al mapa
            //map.addControl(new L.Control.Fullscreen());
            map.locate({setView : true});
            map.setZoom(12);
            //L.geoJson(data).addTo(map)
            map.addControl(new L.Control.Fullscreen({
                title: {
                    'false': 'Ver en Pantalla Completa',
                    'true': 'Salir de Pantalla Completa'
                }
            }));
            var markerClusters = L.markerClusterGroup();
            var layerGroup = L.geoJSON(data, {
              onEachFeature: function (feature, layer) {
                var popup = '<a class="subtitle" href="/pedidos/'+feature.properties.pk+'"><h1>Pedido #'+feature.properties.pk+
                  '</h1></a><p class="has-text-weight-bold">Nombre: '+feature.properties.name+'</p><p>'+feature.properties.title+'</p>'+
                  '<a class="is-size-6" href="/pedidos/'+feature.properties.pk+'">Ver Pedido</a>';
                layer.bindPopup(popup);
                
                markerClusters.addLayer(layer);
              }
            });
            map.addLayer( markerClusters );
        }
        function geoFindMe() {

            const status = document.querySelector('#status');

            function success(position) {
              const latitude  = position.coords.latitude;
              const longitude = position.coords.longitude;

              console.log('${latitude} '+longitude);
              you = L.marker([latitude, longitude], {opacity: 0.3, title:'Tu ubicación'}).addTo(maps[0]);
              you.bindPopup('Tu ubicación').openPopup();
              maps[0].panTo(new L.LatLng(latitude, longitude), 14);
            }

            function error() {
              status.textContent = 'No puedo encontrarte, usá los botones del mapa';
            }

            if (!navigator.geolocation) {
              status.textContent = 'Tu navegador no soporta la geolocalización';
            } else {
              status.textContent = 'Buscando tu ubicación…';
              navigator.geolocation.getCurrentPosition(success, error);
            }

          }

          document.querySelector('#find-me').addEventListener('click', geoFindMe);

    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
      event.stopPropagation();
      dropdown.classList.toggle('is-active');
    });
    </script>

{% endblock %}
