{% extends 'base.html' %}
{% load leaflet_tags %}
{% load humanize %}

{% block bread %}
  <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
          <a href="/">
            <span class="icon is-small">
              <i class="fas fa-home" aria-hidden="true"></i>
            </span>
            <span>Inicio</span>
          </a>
        </li>
        <li><a href="/dar">Info ayudar</a></li>
        <li class="is-active"><a href="#" aria-current="page">Pedidos de ayuda</a></li>
      </ul>
  </nav>
{% endblock bread %}

{% block content%}
<div class="title center">
  Pedidos cercanos {{help_request.id}}
</div>
{% if not list_help %}
<div class="notification is-warning center is-size-5">
  Todavía no hay pedidos de ayuda, volvé en un rato
</div>
{% endif %}
    <div class="columns is-centered">
      <div class="column is-6">
        <!-- Start Switch clustering -->
        <div style="margin-bottom: .75em; ">
          <div class="field">
            <input id="switchNormal" type="checkbox" onclick="groupMarkerRequest()" name="switchNormal" class="switch">
            <label for="switchNormal">Agrupar pedidos</label>
          </div>
        </div>
        <!-- End Switch clustering -->
        <div class="row">
          {% leaflet_map "main" callback="main_map_init" %}
        </div>
        <button id="find-me" class="button is-success  is-outlined is-fullwidth">Mi ubicación</button>
        <p id="status"></p>
      </div>
      <div class="column is-6">
        <div class="row is-centered cities-dropdown-wrapper">
          <div class="columns is-vcentered is-desktop">
            <div class="column">
              <div class="cities-dropdown" role="menu">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" for="cities">Ciudades</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="select">
                          <input name="cities" class="input" list="list_cities" placeholder="Seleccionar ciudad..." autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <datalist id="list_cities">
                      <select size=10>
                        {% for city, code in list_cities %}
                          <option data-value="{{code}}">
                            {{city}}
                          </option>
                        {% endfor %}
                      </select>
                  </datalist>
              </div>
            </div>
            <div class="column is-half-desktop">
              <div style="margin-bottom: .75em;">
                <h5 class="has-text-danger has-text-weight-light has-text-centered">
                  Si no ves tu ciudad es porque no hay pedidos, volvé más tarde para ayudar!
                </h5>
              </div>
            </div>
          </div> 
        </div>

        <article class="panel is-info">
          <p class="panel-heading">
            Últimos pedidos de ayuda
          </p>
          {% for pedido in list_help_paginated %}
          <a href="/pedidos/{{pedido.id}}" class="panel-block is-success" title="{{pedido.added}}">
            <span class="panel-icon">
              <i class="fas fa-people-carry" aria-hidden="true"></i>
            </span>
            #{{pedido.id}} | {{pedido.title}} | {{pedido.added|naturaltime}}
          </a>
          {% endfor %}
        </article>
        {% include "nav_paginator_controls.html" %}
      </div>
    </div>
    <script type="text/javascript">
        // start on load
        switchClusteringInit();
        
        document.querySelector('#find-me').addEventListener('click', geoFindMe);
        
        setupCitiesDropdown()
        // end on load
        
        function switchClusteringInit() {
            //We check if the browser support local Storage caching
            //in case does not, we disable the switch
            var switchElement = document.getElementById('switchNormal');

            if (typeof (Storage) === "undefined") {
              switchElement.disabled = true;
            } else {
              switchElement.checked = false;
              var isGroupMarksActive = JSON.parse(localStorage.getItem("group_markers_setting"));
              if (isGroupMarksActive != null) {
                if (isGroupMarksActive) {
                  switchElement.checked = true;
                }
              }
            }
          }

        function main_map_init (map, options) {
            // Use Leaflet API here
            const myRequest = new Request('/api/v1/helprequestsgeo/');

            map.locate({setView : true});
            map.setZoom(12);
            //L.geoJson(data).addTo(map)
            map.addControl(new L.Control.Fullscreen({
                title: {
                    'false': 'Ver en Pantalla Completa',
                    'true': 'Salir de Pantalla Completa'
                }
            }));

            fetch(myRequest)
            .then(response => response.json())
            .then(data => {
              //We check the switch status
              var isGroupMarksActive = JSON.parse(localStorage.getItem("group_markers_setting"));
              if (!isGroupMarksActive) {
                loadMarkers(map, data);//load markers without clustering
              } else {
                loadMarkersAndGroup(map, data);
              }
            });

        }

        function loadMarkersAndGroup(map, data){
          var markerClusters = L.markerClusterGroup();
            var layerGroup = L.geoJSON(data, {
              onEachFeature: function (feature, layer) {
                var popup = '<a class="subtitle" href="/pedidos/'+feature.properties.pk+'"><h1>Pedido #'+feature.properties.pk+
                  '</h1></a><p class="has-text-weight-bold">Nombre: '+feature.properties.name+'</p><p>'+feature.properties.title+'</p>'+
                  '<a class="is-size-6" href="/pedidos/'+feature.properties.pk+'">Ver Pedido</a>';
                layer.bindPopup(popup);

                markerClusters.addLayer(layer);
              }
            });
            map.addLayer( markerClusters );            
        }

        function loadMarkers(map, data){
            L.geoJSON(data, {
              onEachFeature: function (feature, layer) {
                var popup = '<a class="subtitle" href="/pedidos/'+feature.properties.pk+'"><h1>Pedido #'+feature.properties.pk+
                  '</h1></a><p class="has-text-weight-bold">Nombre: '+feature.properties.name+'</p><p>'+feature.properties.title+'</p>'+
                  '<a class="is-size-6" href="/pedidos/'+feature.properties.pk+'">Ver Pedido</a>';
                layer.bindPopup(popup);
              }
            }).addTo(map);
        }

        function geoFindMe() {
            const status = document.querySelector('#status');

            function success(position) {
              const latitude  = position.coords.latitude;
              const longitude = position.coords.longitude;

              console.log('${latitude} '+longitude);
              you = L.marker([latitude, longitude], {opacity: 0.3, title:'Tu ubicación'}).addTo(maps[0]);
              you.bindPopup('Tu ubicación').openPopup();
              maps[0].panTo(new L.LatLng(latitude, longitude), 14);
            }

            function error() {
              status.textContent = 'No puedo encontrarte, usá los botones del mapa';
            }

            if (!navigator.geolocation) {
              status.textContent = 'Tu navegador no soporta la geolocalización';
            } else {
              status.textContent = 'Buscando tu ubicación…';
              navigator.geolocation.getCurrentPosition(success, error);
            }

        }

        function groupMarkerRequest() {
          //Update cached status
          var checkbox = document.getElementById('switchNormal');
            if (checkbox.checked != true) {
              localStorage.setItem('group_markers_setting', JSON.stringify(false));
            } else {
              localStorage.setItem('group_markers_setting', JSON.stringify(true));
            }

            location.reload(); //refresh the page with the new map display setting

        }

        function setupCitiesDropdown() {
          // based on https://codepen.io/airen/pen/arGXvz
          var datalist = document.querySelector('.cities-dropdown > datalist');
          var select = document.querySelector('.cities-dropdown > datalist > select');
          var options = select.options;

          /* input.onchange is triggered when the user selects something from the datalist */
          input = document.querySelector('input');
        
          input.addEventListener('change', function() {
            var selectedValue = input.value;
            var selectedIndex;
            
            for(var i = 0; i < options.length; i++) {
              if(options[i].text == selectedValue) {
                selectedIndex = i;
                break;
              }
            }
            if(selectedIndex == undefined) {
              return;
            }
            var selectedOption = options[selectedIndex];
            location.assign('/pedidos_ciudad/' + selectedOption.getAttribute('data-value'));
          });

          /* when user selects an option from the datalist, write it to text field */
          select.addEventListener('change', function() {
            input.value = options[this.selectedIndex].value;
          });
        }
    </script>

{% endblock %}
