<!-- start pagination nav buttons -->
<div class="row">    
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <!-- previous (<<) nav button -->
        {% if list_paginated.has_previous %}
			<a href="?page={{ list_paginated.previous_page_number }}{% if search %}&q={{ search }}{% endif %}" class="pagination-previous prev-button is-outlined" style="background-color: white !important; color: #a7b0c0 !important;">
				<i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Anterior
			</a>
        {% else %}
			<a class="pagination-previous" class="pagination-previous prev-button is-outlined" style="background-color: white !important; color: #a7b0c0 !important;" disabled>
				<i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Anterior
			</a>
		{% endif %}
		
        <ul class="pagination-list">
			
			{% if list_paginated.number > 1 %}
            <li>
				<a href="?page={{ 1 }}{% if search %}&q={{ search }}{% endif %}" 
				class="pagination-link first-button" 
				aria-label="Goto page 1"
				style="background-color: white !important; color: #2979ff; border-color: #2979ff;"
				> 
					1 
				</a>
			</li>
			{% endif %}
			
            {% if list_paginated.number > 2 %}
            <li>
				<span class="pagination-ellipsis {{showPrev}} is-outlined">&hellip;</span>
			</li>

            <li>
				<a href="?page={{list_paginated.number|add:"-1"}}{% if search %}&q={{ search }}{% endif %}"
                    class="pagination-ellipsis {{showPrev}} is-outlined"
					aria-label="Goto page {{list_paginated.number|add:"-1"}}">{{list_paginated.number|add:"-1"}}
				</a>
			</li>
			{% endif %}
			
            <li>
				<a
					class="pagination-link is-current is-outlined"	
					aria-label="Page {{ list_paginated.number }}" aria-current="page">
					{{ list_paginated.number }}
				</a>
			</li>

            {% if list_paginated.number|add:"1" < list_paginated.paginator.num_pages %}
            <li>
				<a href="?page={{list_paginated.number|add:"1"}}{% if search %}&q={{ search }}{% endif %}"
                    class="pagination-link is-outlined"
					aria-label="Goto page {{list_paginated.number|add:"1"}}">
					{{list_paginated.number|add:"1"}}
				</a>
			</li>
            <li>
				<span class="pagination-ellipsis is-outlined">&hellip;</span>
			</li>
			{% endif %}
			
            {% if list_paginated.number < list_paginated.paginator.num_pages %}
            <li>
				<a href="?page={{ list_paginated.paginator.num_pages }}{% if search %}&q={{ search }}{% endif %}" 
				class="pagination-link is-outlined" aria-label="Goto last page">
					{{ list_paginated.paginator.num_pages }}
				</a>
			</li>
			{% endif %}
			
		</ul>

		<!-- next (>>) nav button -->
        {% if list_paginated.has_next %}
			<a href="?page={{ list_paginated.next_page_number }}{% if search %}&q={{ search }}{% endif %}" 
				class="pagination-next next-button is-outlined" {{hasNext}} 
				style="background-color: white !important; color: #a7b0c0 !important;"
			>
				Siguiente&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
			</a>
        {% else %}
			<a class="pagination-next" 
				class="pagination-next next-button is-outlined" {{hasNext}} 
				style="background-color: white !important; color: #a7b0c0 !important;"
				disabled
			>
				Siguiente
			</a>
		{% endif %}
	</nav>
</div>
<!-- end pagination nav buttons -->