{% extends 'base.html' %}

{% block title %} Pedido #{{help_request.id}} {% endblock %} 

{% block fb-title %} Pedido #{{help_request.id}} - {{ help_request.title}} {% endblock %} 
{% block fb-description %} {{help_request.message}} {% endblock %} 
{% block fb-image %} {{thumbnail}} {% endblock %} 

{% load leaflet_tags %} 
{% load static %}
{% load l10n %}
{% load humanize %}
{% block bread %}
  <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="/">
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <span>Inicio</span>
        </a>
      </li>
      <li><a href="/dar">Info ayudar</a></li>
      <li><a href="/pedidos">Pedidos de ayuda</a></li>
      <li class="is-active"><a href="#" aria-current="page">Pedido #{{help_request.id}}</a></li>
      </ul>
  </nav>
{% endblock bread %}
{% block content%}
<div class="columns is-centered">
    <div class="column is-half">
      {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-half" id='msg{{ forloop.counter }}'>
                <button class="delete" onclick="document.getElementById('msg{{ forloop.counter }}').style.display = 'none';"></button>
                    <span class="is-5">{{ message }}</span>
                    <p><span class="icon is-medium"><i class="far fa-hand-point-down"></i></span>
                    Podés compartir tu pedido haciendo click en los botones</p>
            {% include 'includes/buttons.html'%}
            </div>
        {% endfor %}
      {% endif %}
        <div class="subtitle center is-3">
        <a class="has-text-primary" href="/pedidos/{{help_request.id}}">Pedido #{{help_request.id}}</a>
        </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-four-fifths">

        <div class="card">
        <header class="card-header has-background-light is-light">
            <p class="card-header-title is-size-4">{{ help_request.title}}</p>
        </header>
        <section class="card-content">
                    <p class="has-text-right is-size-7" title="{{help_request.added|naturaltime}}">{{help_request.added}}</p>
                    <p class="is-size-5">{{help_request.message|linebreaksbr}}</p>
                    {% if help_request.picture %}
                    <hr>
                      <figure class="image is-small"> 
                        <a href="/media/{{help_request.picture}}">
                          <img class="has-ratio" src="{{thumbnail}}"/>
                        </a>
                      </figure>
                    {% endif %}
                    <hr>
                    <p class="subtitle">Nombre:</p>
                    <p class="title is-4">{{ help_request.name}}</p>
                    <p class="subtitle">Contacto:</p>
                    <p class="title is-4">
                      <a href="tel:{{help_request.phone}}">
                        <img src="data:image/jpeg;base64,{{phone_number_img}}">
                      </a>
                        &nbsp;
                        <a href="https://wa.me/{{ whatsapp }}" target="_blank" class="button is-medium is-success is-outlined">
                            <span class="icon is-small">
                              <i class="fab fa-whatsapp"></i>
                            </span>
                            <span>Contactar vía WhatsApp</span>
                        </a>
                    </p>
                    {% if help_request.address %}
                      <p class="subtitle">Dirección:</p>
                      <p class="title is-4">{{help_request.address}}</p>
                    {% endif %}
                    <p class="subtitle">Ciudad: </p>
                    <p class="title is-4">
                        <a href="/pedidos_ciudad/{{help_request.city_code}}">{{help_request.city}}</a>
                    </p>
                     <p class="subtitle">Ubicación:
                     {% leaflet_map "main" callback="main_map_init" %}
                     </p>
                     <a href="https://www.google.com/maps/search/?api=1&query={{help_request.location.y|unlocalize}},{{help_request.location.x|unlocalize}}" target="_blank">
                       <button class="button is-medium is-fullwidth is-link is-light">
                            <span class="icon is-medium">
                            <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>Abrir en Google Maps</span>
                        </button>
                     </a>

        </section>
                    {% include 'vote_button.html' %}

    </div>

                {% comment %} <article class="tile is-child is-box">
                    <p class="title is-4">{{ help_request.title}}</p>
                    <p class="subtitle">{{help_request.message|linebreaks}}</p>
                    <hr>
                    <p class="subtitle">Nombre:</p>
                    <p class="title is-4">{{ help_request.name}}</p>
                    <p class="subtitle">Contacto:</p>
                    <p class="title is-4"><a href="tel:{{help_request.phone}}">{{help_request.phone}}</p></a>
                    {% if help_request.address %}
                      <p class="subtitle">Dirección:</p>
                      <p class="title is-4">{{help_request.address}}</p>
                    {% endif %}
                    {% if help_request.picture %}
                      <figure class="image is-small"> 
                        <a href="/media/{{help_request.picture}}">
                          <img class="has-ratio" src="{{thumbnail}}"/>
                        </a>
                      </figure>
                    {% endif %}
                     <p class="subtitle">Ubicación:
                     {% leaflet_map "main" callback="main_map_init" %}
                     </p>
                     <a href="https://www.google.com/maps/search/?api=1&query={{help_request.location.y|unlocalize}},{{help_request.location.x|unlocalize}}" target="_blank">
                       <button class="button is-medium is-fullwidth is-link is-light">
                            <span class="icon is-medium">
                            <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>Abrir en Google Maps</span>
                        </button>
                     </a>
                </article> {% endcomment %}
                <hr>
                <label class="label has-text-success">
                    <span class="icon is-medium"><i class="far fa-hand-point-down"></i></span>
                        Podés compartir este pedido haciendo click en los botones
                    </label>
                <div class="is-fullwidth">
                {% include 'includes/buttons.html'%}
                </div>
          

        

        <script type="text/javascript">
            function main_map_init(map, options) {
                // Use Leaflet API here
                {% autoescape off %}
                var lon = {{ help_request.location.x|unlocalize }};
                var lat = {{ help_request.location.y|unlocalize }};
                data = {{ help_request.location.geojson }}
                {% endautoescape %}
                    // zoom to point & add it to map
                map.setView([lat, lon], 14);
                //L.marker([lat, lon]).addTo(map);
                L.geoJson(data).addTo(map)
            }
        </script>
    </div>
</div>
{% endblock %}