<section class="card-content">
<form name="thumbs" class="">
<div class="field is-flex" style="justify-content: center;">
        <p class="control">
            <button name= 'vote' class="button is-medium is-centered" type="submit" formmethod="post" value="up"> {% csrf_token %}
                <span class="icon is-small">
                <i class="fa fa-thumbs-up"></i>
                    {{help_request.upvotes}}
                </span>
            </button>
        </p>
        <p class="control">
        <button name='vote' class="button is-medium is-centered" type="submit" formmethod="post" value="down"> {% csrf_token %}
            <span class="icon is-small">
            <i class="fa fa-thumbs-down"></i>
            {{help_request.downvotes}}
            </span>
        </button>
        </p>
</div>
</form>
</section>